<form class="add__post" id="add__post">
  <input type="text" id="add__title" class="add__title" placeholder="제목" />

  <textarea
    class="add__descriptioin"
    id="post__description"
    cols="30"
    rows="10"
    placeholder="내용"
  ></textarea>
  <button class="add__summit" id="add__summit">글쓰기 완료</button>
</form>
