<div class="comment__container">
  <form action="" id="comment__form" class="comment__form">
    <input type="text" placeholder="댓글 입력" class="comment__description" />
    <input type="submit" value="입력" class="comment__submit" />
  </form>
  <ul class="comments__list" id="comments__list"></ul>
</div>
