<div class="add__post" id="detail__post">
  <span class="deatil__createdAt">작성일</span>
  <input
    readonly
    type="text"
    id="detail__title"
    class="add__title detail__title"
    placeholder="제목"
  />

  <textarea
    readonly
    class="add__descriptioin detail__description"
    id="detail__description"
    cols="30"
    rows="10"
    placeholder="내용"
  ></textarea>
</div>
