<div class="common__container">
  <form id="join__form" class="common__form" method="POST" action="/join">
    <input
      type="text"
      class="common__id"
      placeholder="아이디 3자리 이상"
      required:true
      id="join__id"
    />
    <input
      type="text"
      id="join__password"
      class="common__password"
      placeholder="비밀번호 5자리 이상"
      required:true
    />
    <button class="common__submit">회원가입</button>
  </form>
</div>
