<div class="common__container">
  <form id="login__form" class="common__form" method="POST">
    <input type="text" class="common__id" placeholder="아이디" required:true />
    <input
      type="password"
      class="common__password"
      placeholder="비밀번호"
      required:true
    />
    <button class="common__submit">로그인</button>
  </form>
</div>
