<div class="common__container">
  <div id="login__form" class="common__form" method="POST">
    <input type="text" class="common__id" placeholder="아이디" required:true />
    <input
      type="password"
      class="common__password"
      placeholder="비밀번호"
      required:true
    />
    <div class="btns">
      <button class="common__submit" id="login_submit">로그인</button>
      <button
        onclick="window.location.href='/join'"
        class="join_btn"
        id="join_btn"
      >
        회원가입
      </button>
    </div>
  </div>
</div>
