<h2>최근 포스트</h2>
<hr />
<div class="posts">
  <ul class="posts__lists" id="posts__lists">
    <li class="posts__list">
      <a class="list__info" href="/">
        <h3 class="info__title">포스트 제목</h3>
        <span class="info__date">작성일자</span>
        <span class="info__date">간단설명</span>
      </a>
    </li>
    <li class="posts__list">
      <a class="list__info" href="/">
        <h3 class="info__title">포스트 제목</h3>
        <span class="info__date">작성일자</span>
        <span class="info__date">간단설명</span>
      </a>
    </li>
    <li class="posts__list">
      <a class="list__info" href="/">
        <h3 class="info__title">포스트 제목</h3>
        <span class="info__date">작성일자</span>
        <span class="info__date">간단설명</span>
      </a>
    </li>
    <li class="posts__list">
      <a class="list__info" href="/">
        <h3 class="info__title">포스트 제목</h3>
        <span class="info__date">작성일자</span>
        <span class="info__date">간단설명</span>
      </a>
    </li>
    <li class="posts__list">
      <a class="list__info" href="/">
        <h3 class="info__title">포스트 제목</h3>
        <span class="info__date">작성일자</span>
        <span class="info__date">간단설명</span>
      </a>
    </li>
    <li class="posts__list">
      <a class="list__info" href="/">
        <h3 class="info__title">포스트 제목</h3>
        <span class="info__date">작성일자</span>
        <span class="info__date">간단설명</span>
      </a>
    </li>
    <li class="posts__list">
      <a class="list__info" href="/">
        <h3 class="info__title">포스트 제목</h3>
        <span class="info__date">작성일자</span>
        <span class="info__date">간단설명</span>
      </a>
    </li>
  </ul>
</div>
