<div class="title">
  <a href="/">HOME</a>
</div>
<div class="menu" id="menu">
  <!-- <button
    onclick="window.location.href='/post/add'"
    class="post_btn"
    id="post_btn"
  >
    글쓰기
  </button> -->

  <!-- <button class="login_btn" id="login_btn">로그인</button>
  <button class="join_btn" id="join_btn">회원가입</button> -->
</div>
