<div class="title">
  <a href="/">HOME</a>
</div>
<div class="menu">
  <button
    onclick="window.location.href='/post/add'"
    class="post_btn"
    id="post_btn"
  >
    글쓰기
  </button>
  <button
    onclick="window.location.href='/login'"
    class="login_btn"
    id="login_btn"
  >
    로그인
  </button>
  <button onclick="window.location.href='/join'" class="join_btn" id="join_btn">
    회원가입
  </button>
</div>
